* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
}

:root {
  --light-bg-color: #FDFFFC;
  --dark-bg-color: #18435A;
  --light-txt-color: #36413E;
  --dark-txt-color: #D7D6D6;
}

main {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.light-theme {
  background: var(--light-bg-color);
  color: var(--light-txt-color);
}

.light-theme .theme-toggle-container {
  border: 2px solid var(--light-txt-color);
}

.light-theme .theme-toggle-content {
  background: var(--light-txt-color);
  left: 3px;
}

.dark-theme {
  background: var(--dark-bg-color);
  color: var(--dark-txt-color);
}

.dark-theme .theme-toggle-container {
  border: 2px solid var(--dark-txt-color);
}

.dark-theme .theme-toggle-content {
  background: var(--dark-txt-color);
  right: 3px;
}

.theme-toggle {
  display: flex;
  align-items: center;
}

.theme-toggle>label {
  margin-right: 3px;
}

.theme-toggle-container {
  width: 35px;
  height: 20px;
  position: relative;
  border-radius: 10px;
}

.theme-toggle-content {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  border-radius: 6px;
}

.city-and-time {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.weather-data {
  display: flex;
}

.weather-data .temperature, .weather-data .temperature span {
  font-size: 4rem;
}

figure {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-theme figure {
  filter: invert(1)
}

.values {
  text-align: right;
  min-width: 45%;
}

.weather-data p span {
  font-weight: bold;
}

.weather-main {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem 0;
}

input {
  display: none;
}

footer {
  width: 100vw;
  position: absolute;
  bottom: 2rem;
  margin: auto;
  text-align: center;
}
